.cart__items {
  position: relative;
  z-index: 10;

  .cart {
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #71081e 0%, #d7485c 100%);
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .image-cart {
      width: 50px;
      height: 50px;
    }

    .amount {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      border: 2px solid #71081e;
      width: 24px;
      height: 24px;
      background: white;
      //text
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-family: "Gilroy-Medium", sans-serif;
      color: #71081e;
    }
  }

  .cart:hover {
    background: radial-gradient(50% 50% at 50% 50%, rgb(78, 6, 21) 0%, rgb(198, 26, 53) 100%);
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
  }
}


.cloud-text {
  /*text*/
  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-cloud {
  position: fixed;
  bottom: -150px;
  right: 140px;
  transition: .3s linear;
}

.cart__items:hover .cart-cloud {
  bottom: 40px;
  right: 140px;
}

.cloud {
  position: relative;
  padding: 20px 10px 14px 10px;
  box-sizing: border-box;
  border-width: 2px;
  border-color: rgb(119, 10, 29);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  width: 172px;
  height: 64px;
}

.cloud::before, .cloud::after {
  content: '';
  position: absolute;
  right: -25px;
  top: 18px;
  border: 12px solid transparent;
  border-left: 20px solid rgb(119, 10, 29);
  z-index: -1;

}

.cloud::after {
  border-left: 21px solid rgb(254, 239, 238);
  right: -21px;
  z-index: 2;
}


@media screen and (max-width: 1400px) {
  .cart__items {
    display: none;
  }
}
