.overview__benefit-item {
  width: 220px;
}

.overview__benefit-item:hover > .overview__benefit-icon {
  background: #eba8b1;
}

.overview__benefit-item:hover .overview__benefit-icon_number {
  color: #821328;
}

.overview__benefit-icon {
  margin-bottom: 13px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #821328;
  position: relative;
}

.overview__benefit-icon_number {
  font-size: 60px;
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.75;
  position: absolute;
  bottom: -2px;
  left: 20px;
  transition: 1s ease;
}

.overview__benefit-subtitle {
  font-size: 20px;
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 16px;
}

.overview__benefit-text {
  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.333;
}

@media screen and (max-width: 1023px) {

  .overview__benefit-icon {
    margin: 0 auto;
  }

  .overview__benefit-subtitle {
    text-align: center;
  }

  .overview__benefit-text {
    text-align: center;
  }
  .overview__benefit-icon {
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 580px) {
  .overview__benefit-text {
    margin: 0 auto;
    max-width: 165px;
  }

  .overview__benefit-subtitle {
    font-size: 18px;
  }

  .overview__benefit-text {
    font-size: 13px;
  }

  .overview__benefit-item {
    max-width: 165px;
  }
}

@media screen and (max-width: 374px) {
  .overview__benefit-text {
    font-size: 15px;
  }

  .overview__benefit-subtitle {
    font-size: 20px;
  }
}
