.footer__social {
  order: 3;

}
.footer__social {
  order: 3;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.footer__social-icon {
  margin-bottom: 15px;
}

.footer__social-text {
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
}
