

.select__product {
  position: relative;
  padding: 109px 21px 27px 21px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 263px;

}

.product-image {
  transition: 1s ease;
}

.select__product:hover .product-image {
  transform: scale(1.1);
}


.select__product_image {
  position: absolute;
  bottom: 176px;
  left: 34px;
}


.select__product_subtitle {
  font-size: 18px;
  font-family: "Tavolgafree", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 26px;
}

.select__product_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select__product_info {

}

.product_amount {
  font-size: 15px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.product_price {
  font-size: 15px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(255, 255, 255);
}

.product_btn {
  padding: 19px 0 20px 0;
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
  width: 130px;
}

@media screen and (max-width: 1200px) {
  .select__products {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 263px);
    gap: 138px 30px;
    justify-content: center
  }
}

@media screen and (max-width: 580px) {

  .select__products {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns:  263px;
  }
}
