/*-----Header-----*/

.header__container {
  padding: 36px 15px 30px 15px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 114px 1fr 152px;
  align-items: center;
  justify-items: start
}

.header__menu {
  margin-left: 213px;
}

.header__menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.header__menu-item {
  padding-bottom: 2px;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: .5s ease;
}

.header__menu-item:hover {
  border-bottom: 2px solid rgb(119, 11, 29);
}

.header__link {
  font-size: 14px;
  font-family: "Gilroy-Medium", sans-serif;
  color: rgb(119, 11, 29);
  text-decoration: none;
}

.burger {
  display: none;
}

.close {
  display: none;
}


/*-----top-----*/
.top {
  overflow: hidden;
}

.top__container {
  padding: 125px 15px 108px 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.top__info {
  display: flex;
  flex-direction: column;
  max-width: 585px;

}

.top__info-title {
  margin-bottom: 59px;

}

.top__info-title-text {
  font-size: 55px;
  font-family: "Tavolgafree", sans-serif;
  color: rgb(255, 255, 255);
  max-width: 585px;
}

.top__info-description {
  margin-bottom: 80px;
  max-width: 360px;

}

.top__info-description-text {
  font-size: 18px;
  font-family: "Tavolgafree", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.389;
}


.btn_top {
  width: 240px;
  margin-bottom: 37px;
}


.top__image__content {
  position: relative;
}

.top__image__content::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: -1;
  animation: pulse 2.5s infinite;
  border: 1px solid rgb(119, 11, 29);
}

.top__image__content::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: -1;
  animation: pulse-2 2.5s infinite;
  animation-delay: 0.5s;
  border: 1px solid rgb(119, 11, 29);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/*------overview------*/
.overview {
  padding: 120px 15px 120px 15px;
  background: #ffefef;
}

.overview__container {
  display: grid;
  grid-template-rows:  1fr  246px;
  grid-template-columns: 473px 1fr;
  gap: 0 147px;
  align-items: center;
}

.overview__info-title {
  font-size: 45px;
  font-family: "Tavolgafree", sans-serif;
  color: rgb(51, 25, 7);
  /*line-height: 1.222;*/
  margin-bottom: 60px;
}

.overview__info-description {
  font-size: 18px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 88px;
}

.overview__benefits {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}



/*-----select-----*/
.select {
  padding: 120px 15px 120px 15px;
}

.select__title {
  font-size: 45px;
  font-family: "Tavolgafree", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 143px;
}

.select__products {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 30px;
  width: 100%;
  height: 100%;
}

/*-----order-----*/
.order {
  padding: 98px 15px 120px 15px;
  background: #ffefef;
}

.order__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  column-gap: 160px;

}

.order__form-title {
  font-size: 45px;
  font-family: "Tavolgafree", sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 41px;
}

.order__form-description {
  font-size: 18px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 48px;
  max-width: 400px;
}

.order__form-text {
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(18, 10, 6);
  margin-bottom: 20px;
  margin-top: 25px;
}

.order__form-input {
  margin-bottom: 15px;

}

.input {
  padding: 22px 22px 24px 25px;
  background: transparent;
  border: 1px solid #821328;
  border-radius: 30px;
  width: 293px;
  height: 61px;
  outline: none;
  /*text*/
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(18, 10, 6);
  box-sizing: border-box;
}

.input::placeholder {
  font-size: 15px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(118, 12, 34);
}

.order__btn {
  width: 293px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.order__image {
  position: relative;
}

.strawberry-left {
  position: absolute;
  top: -26px;
  left: -26px;
  animation: customAni 8s linear 0s infinite normal none;
}

@keyframes customAni {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6px);
  }

  90% {
    transform: translateY(-6px);
  }
}

.order__form {
  position: relative;
}

.strawberry-right {
  position: absolute;
  bottom: 75px;
  left: 354px;
  animation: customAni 12s linear 0s infinite normal none;
}

@keyframes customAni {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6px);
  }

  90% {
    transform: translateY(-6px);
  }
}

.strawberry-left-adaptive {
  display: none;
  position: absolute;
  bottom: 349px;
  right: 0;
  animation: customAni 8s linear 0s infinite normal none;
}

@keyframes customAni {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6px);
  }

  90% {
    transform: translateY(-6px);
  }
}


/*-----footer-----*/
.footer {
  padding: 73px 15px 62px 15px;
  background: #c0707c;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer__info-logo {
  //order: 1;
}
.footer__info-image{
  margin-bottom: 10px;
}
.footer__info-text {
  //order: 2;
  //position: absolute;
  bottom: 15px;
  left: 0;
  font-size: 12px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(227, 172, 180);
}

.footer__contact {
  //order: 4;
}

.footer__contact-number {
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
}


/*ADAPTIVE*/
@media screen and (max-width: 1200px) {
  .overview__container {
    gap: 0;
  }
}

@media screen and (max-width: 1140px) {
  .top__container {
    position: relative;
    padding-bottom: 383px;
  }

  .top__image {
    position: absolute;
    bottom: 110px;
    right: 55px;
  }
}

@media screen and (max-width: 1023px) {
  .header__container {
    justify-items: center;
  }

  .header__menu {
    margin-left: 0;
  }

  .overview__container {
    grid-template-rows: 1fr 1fr 0;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .overview__info {
    grid-area: 1 / 1 / 2 / 3;
    justify-items: center;
  }

  .overview__info-title {
    max-width: 480px;
    text-align: center;
  }

  .overview__info-description {
    max-width: 675px;
    text-align: center;
  }

  .overview__image {
    grid-area: 2 / 1 / 3 / 3;
  }

  .overview__benefits {
    grid-area: 3 / 1 / 5 / 3;
    justify-items: center
  }

  .overview__benefits {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }


  .overview__info-description {
    margin-bottom: 40px;
  }

  .overview__image__content {
    margin-bottom: 88px;
  }

  .image-maracun {
    width: 402px;
    height: 283px;
  }



  .order {
    padding: 120px 20px 120px 20px;
  }


  .order__container {
    grid-template-columns: 1fr;
    gap: 0;
    /*justify-items: center;*/
    position: relative;
  }

  .order__image {
    position: absolute;
    right: 0;
    top: 254px;
    z-index: 5;
  }

  .order__form {
    grid-area: 1/1/2/2;
  }

  .order__image-content {
    width: 352px;
    height: 100%;
    z-index: 5;
  }
}


@media screen and (max-width: 768px) {
  .header__container {
    padding: 36px 20px 32px 20px;
    grid-template-columns: 114px 1fr;
    justify-items: start
  }

  .header__menu {
    margin-left: 83px;
  }


  .top__image {
    bottom: 62px;
  }

  .image-maracun {
    width: 302px;
    height: 183px;
  }

  .overview__container {
    grid-template-rows: 1fr 276px 0;
  }

  .strawberry-right {
    top: 111px;
    left: 590px;
  }
}

@media screen and (max-width: 700px) {
  .top__container {
    flex-direction: column;
    align-items: center;
  }

  .top__info {
    align-items: center;
    margin: 0 auto;
  }

  .top__info-title {
    display: flex;
    margin-bottom: 40px;
  }

  .top__info-title-text {
    text-align: center;
    font-size: 45px;
  }

  .top__info-description {
    margin-bottom: 40px;
  }

  .top__info-description-text {
    text-align: center;
    font-size: 16px;
  }

  .top__image {
    position: static;
  }

  .top__image-cake_box {
    width: 100%;
  }

  .overview__info-title {
    font-size: 30px;
  }

  .overview__info-description {
    font-size: 16px;
  }

  .order__image {
    display: none;
  }


  .strawberry-right {
    display: none;
  }

  .order__form {
    display: flex;
    flex-direction: column;

  }

  .order__form {
    position: relative;
  }

  .strawberry-left-adaptive {
    display: block;
    position: absolute;

  }

  .img-adaptive {
    width: 72px;
    height: 89px;
  }


  .order__form {
    max-width: 345px;
    margin: 0 auto;
  }

  .input {
    width: 345px;
  }

  .order__btn {
    width: 345px;
  }

  .order {
    padding: 100px 15px 77px 15px;
    background: #ffefef;
  }

  .order__form-title {
    font-size: 38px;
  }
}

@media screen and (max-width: 580px) {
  .header__container {
    justify-items: end;
  }

  .header__menu {
    margin-left: 0;
  }

  .header__menu-item {
    margin: 0 8px;
  }

  .top__info-title-text {
    font-size: 36px;
  }



  .overview__benefits {
    grid-template-columns:165px 165px;
    gap: 36px 15px;
    justify-content: center;
  }


  .select__title {
    font-size: 30px;
  }

  .order__form-title {
    text-align: left;
    font-size: 30px;

  }

  .order__form-description {
    font-size: 16px;
    width: 345px;
  }


  .footer__container {
    flex-direction: column;
  }

  .footer {
    padding: 50px 15px 50px 15px;
  }

  .footer__info-logo {
    order: 1;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer__info-image{
    margin-bottom: 10px;
  }
  .footer__contact {
    order: 2;
    margin-bottom: 40px;
  }

  .footer__info-text {
    position: relative;
    order: 4;
    margin-top: 20px;
  }


}

@media screen and (max-width: 425px) {
  .header__menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .header__menu {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #000000c9;
    z-index: 100;
  }

  .header__menu-list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .header__menu-item {
    margin: 20px 0;
  }

  .header__link {
    color: #ffefef;
    font-size: 16px;
  }

  .header__menu.open {
    display: flex;
    padding-top: 100px;
  }

  .header__menu .close {
    display: block;
    width: 24px;
    height: 24px;
    fill: #ffefef;
    position: absolute;
    top: 80px;
    right: 28px;
  }

  .top__image__content::before {
    width: 160px;
    height: 160px;
  }
  .top__image__content::after {
    width: 160px;
    height: 160px;
  }


  .top__container {
    padding: 43px 20px 43px 20px;
  }

  .top__info-title-text {
    font-size: 32px;
  }

  .top__info-description-text {
    font-size: 16px;
  }

  .top__image-cake_box {
    width: 250px;
  }

  .btn_top {
    margin-bottom: 38px;
  }

  .overview {
    padding: 100px 20px 60px 20px;
  }

  .overview__info-description {
    margin-bottom: 60px;
  }

  .overview__image__content {
    margin-bottom: 60px;
  }

  .overview__container {
    grid-template-rows: 1fr 250px 0;
  }
}

@media screen and (max-width: 374px) {
  .top__info-title-text {
    font-size: 26px;
  }

  .top__info-description-text {
    font-size: 14px;
  }

  .overview__benefits {
    display: flex;
    flex-direction: column;
  }

  .image-maracun {
    height: 100%;
    width: 100%;
  }



  .select {
    padding: 100px 15px 100px 15px;
  }

  .select__title {
    font-size: 25px;
  }


  .order__form {
    max-width: 290px;
    margin: 0 auto;
  }

  .input {
    width: 290px;
  }

  .order__btn {
    width: 290px;
  }

  .order {
    padding: 100px 15px 77px 15px;
  }

  .order__form-description {
    width: 290px;
  }
}






