<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <img src="assets/images/logo.png" alt="логотип">
    </div>

    <nav class="header__menu" #menu (click)="burgerCloseMenu(menu)">
      <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
<g>
	<g>
		<path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
	</g>
</g>
</svg>
      </div>
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a class="header__link" href="#" (click)="scrollTo(selectMacaroon)">Пироженки</a>
        </li>
        <li class="header__menu-item">
          <a class="header__link" href="#" (click)="scrollTo(aboutUs)">О нас</a>
        </li>
        <li class="header__menu-item">
          <a class="header__link" href="#" (click)="scrollTo(orderElement)">Оформить заказ</a>
        </li>
      </ul>
    </nav>

    <div class="burger" id="burger" (click)="burgerOpenMenu(menu)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40px" height="22px">
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.0,21.999 L0.0,19.999 L39.999,19.999 L39.999,21.999 L0.0,21.999 ZM0.0,10.0 L39.999,10.0 L39.999,12.0 L0.0,12.0 L0.0,10.0 ZM0.0,0.0 L39.999,0.0 L39.999,1.999 L0.0,1.999 L0.0,0.0 Z"/>
      </svg>
    </div>

    <phone-component></phone-component>


  </div>
</header>

<section class="top">
  <div class="container top__container">
    <div class="top__info">
      <div class="top__info-title">
                <span class="top__info-title-text">Мягкие французские
                    пироженки Macaroons</span>
      </div>
      <div class="top__info-description">
        <p class="top__info-description-text">Побалуйте себя и своих близких самыми вкусными и ароматными
          домашними пироженками Macaroon!</p>
      </div>
      <div class="top__info-button">
        <button class="btn btn_top" (click)="scrollTo(selectMacaroon)" buttonEffect>Выбрать макарун</button>
      </div>
    </div>
    <div class="top__image">
      <div class="top__image__content">
        <img class="top__image-cake_box" src="assets/images/top-cake.png" alt="коробка с пирожными">
      </div>
    </div>
  </div>
</section>

<section class="overview" #aboutUs>
  <div class="container overview__container">
    <div class="overview__info">
      <div class="overview__info-title">
        Мы печём для вас
        вкуснейшие макаруны
        уже более 10 лет
      </div>
      <div class="overview__info-description">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,ароматизаторов,
        красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,разрыхлителей и улучшителей
        муки.
      </div>
    </div>
    <div class="overview__image">
      <div class="overview__image__content">
        <img class="image-maracun" src="assets/images/maracun.png" alt="маракун">
      </div>
    </div>
    <div class="overview__benefits">
      <advantage *ngFor="let benefit of advantages" [advantage]="benefit"></advantage>
    </div>
  </div>
</section>

<section class="select">
  <div class="container select__container">
    <div class="select__title" #selectMacaroon>
      Выберите свой макарун
    </div>
    <div class="select__products">
      <product *ngFor="let product of products" [product]="product"
               (addToCartEvent)="addToCart($event,orderElement)"></product>
    </div>
  </div>
</section>

<section class="order">
  <div class="container order__container">
    <div class="order__image">
      <div class="strawberry-left">
        <img src="assets/images/клубника-l.png" alt="Клубника">
      </div>
      <img class="order__image-content" src="assets/images/order-maracoon.png" alt="картинка маракунов">
    </div>
    <div class="order__form">
      <div class="strawberry-left-adaptive">
        <img class="img-adaptive" src="assets/images/клубника-l.png" alt="Клубника">
      </div>
      <div class="strawberry-right">
        <img src="assets/images/клубника-R.png" alt="Клубника">
      </div>
      <div class="order__form-title">
        Закажите макарун!
      </div>
      <div class="order__form-description" #orderElement>
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <div class="order__form-form">
        <form action="#" method="POST">
          <p class="order__form-text">Ваш выбор</p>
          <div class="order__form-input">
            <label>
              <input class="input" type="text" name="order" id="order"
                     placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
            </label>
          </div>
          <p class="order__form-text">Заполните данные для заказа</p>

          <div class="order__form-input">
            <label>
              <input class="input" type="text" name="name" id="name" placeholder="Ваше имя"
                     [(ngModel)]="formValues.name">
            </label>
          </div>
          <div class="order__form-input">
            <label>
              <input class="input" type="text" name="phone" id="phone"
                     placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
            </label>
          </div>
          <button class="btn order__btn" (click)="createOrder()" buttonEffect>Оформить заказ</button>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container footer__container">

    <div class="footer__info-logo">
      <img class="footer__info-image" src="assets/images/logo.png" alt="логотип">
      <div class="footer__info-text">Все права защищены, 2020</div>
    </div>

    <instagram-component></instagram-component>

    <div class="footer__contact">
      <span class="footer__contact-number">+375 (29) 368-98-68</span>
    </div>
  </div>
</footer>
