* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Tavolgafree';
  src: url("./assets/fonts/Tavolgafree.ttf");
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("./assets/fonts/Gilroy-ExtraBold.otf");
}

body {
  background: #eba8b1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  padding: 22px;
  border: none;
  /*text*/
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50px;
  transition: .5s ease;
}

//.btn:hover {
//  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
//}
